<%- include('../partials/header', { title: 'Edit Planet' }) %>

<h2>Edit Planet</h2>
<form action="/planets-ui/<%= planet.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
  <label>Name: <input type="text" name="name" value="<%= planet.name %>" required></label><br>
  <label>Type: <input type="text" name="type" value="<%= planet.type %>"></label><br>
  <label>Orbital Period: <input type="number" step="any" name="orbitalPeriod" value="<%= planet.orbitalPeriod %>"></label><br>
  <label>Size: <input type="text" name="size" value="<%= planet.size %>"></label><br>
  <label>Description:<br>
    <textarea name="description" rows="4" cols="50"><%= planet.description %></textarea>
  </label><br>
  <% if (planet.image) { %>
    <p>Current Image: <img src="/uploads/<%= planet.image %>" width="100"></p>
  <% } %>
  <label>New Image: <input type="file" name="image"></label><br>
  <button type="submit">Update</button>
</form>

<%- include('../partials/footer') %>
